/* line 2, ../sass/components/_farmap_page.scss */
.node-type-farmap .olControlMaptext {
  height: calc(100% - 40px); }

/* line 2, ../sass/components/_home_page_default.scss */
body.node-type-home-page #page {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  max-width: none;
  margin-bottom: 0; }
  /* line 3, ../sass/components/_home_page_default.scss */
  body.node-type-home-page #page header {
    display: none; }
  /* line 6, ../sass/components/_home_page_default.scss */
  body.node-type-home-page #page #main {
    padding-top: 0; }
    /* line 8, ../sass/components/_home_page_default.scss */
    body.node-type-home-page #page #main #navigation {
      display: none; }
    /* line 12, ../sass/components/_home_page_default.scss */
    body.node-type-home-page #page #main .block {
      margin-bottom: 0; }
    /* line 15, ../sass/components/_home_page_default.scss */
    body.node-type-home-page #page #main p {
      margin-top: 0;
      margin-bottom: 0; }
    /* line 19, ../sass/components/_home_page_default.scss */
    body.node-type-home-page #page #main .field-collection-container {
      margin-bottom: 0; }
      /* line 21, ../sass/components/_home_page_default.scss */
      body.node-type-home-page #page #main .field-collection-container:last-child {
        border-bottom: none; }
  /* line 30, ../sass/components/_home_page_default.scss */
  body.node-type-home-page #page #content {
    padding-left: 0;
    padding-right: 0; }
    /* line 33, ../sass/components/_home_page_default.scss */
    body.node-type-home-page #page #content h1.page__title {
      display: none; }
    /* line 37, ../sass/components/_home_page_default.scss */
    body.node-type-home-page #page #content .panelizer-view-mode h1 {
      font-size: 72px;
      color: #363636; }
    /* line 43, ../sass/components/_home_page_default.scss */
    body.node-type-home-page #page #content .panelizer-view-mode h2 {
      font-size: 48px;
      color: #d23f18; }
    /* line 49, ../sass/components/_home_page_default.scss */
    body.node-type-home-page #page #content .panelizer-view-mode p {
      font-size: 16px;
      color: #363636; }
    /* line 53, ../sass/components/_home_page_default.scss */
    body.node-type-home-page #page #content .panelizer-view-mode a {
      color: #44c0b6; }
      /* line 55, ../sass/components/_home_page_default.scss */
      body.node-type-home-page #page #content .panelizer-view-mode a:link, body.node-type-home-page #page #content .panelizer-view-mode a:visited, body.node-type-home-page #page #content .panelizer-view-mode a:hover, body.node-type-home-page #page #content .panelizer-view-mode a:active {
        color: #44c0b6; }
    /* line 59, ../sass/components/_home_page_default.scss */
    body.node-type-home-page #page #content .panelizer-view-mode .field-name-field-action-link a {
      color: buttontext; }
      /* line 61, ../sass/components/_home_page_default.scss */
      body.node-type-home-page #page #content .panelizer-view-mode .field-name-field-action-link a:link, body.node-type-home-page #page #content .panelizer-view-mode .field-name-field-action-link a:visited, body.node-type-home-page #page #content .panelizer-view-mode .field-name-field-action-link a:hover, body.node-type-home-page #page #content .panelizer-view-mode .field-name-field-action-link a:active {
        color: buttontext; }
    /* line 65, ../sass/components/_home_page_default.scss */
    body.node-type-home-page #page #content .panelizer-view-mode .panels-flexible-region-1-center {
      width: 100%; }
    @media only screen and (max-width: 479px) {
      /* line 72, ../sass/components/_home_page_default.scss */
      body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-visual-content .homePage .headerHomeHeight {
        height: auto; }
      /* line 75, ../sass/components/_home_page_default.scss */
      body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-visual-content .homePage .text-center {
        text-align: center; }
      /* line 79, ../sass/components/_home_page_default.scss */
      body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-visual-content .homePage .col-md-4 {
        width: 100%;
        /*margin-left: auto;
        margin-right: auto;*/
        float: none;
        padding-right: 0;
        padding-left: 0; }
        /* line 88, ../sass/components/_home_page_default.scss */
        body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-visual-content .homePage .col-md-4 .block0 h1 {
          color: #363636;
          word-wrap: break-word; }
        /* line 93, ../sass/components/_home_page_default.scss */
        body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-visual-content .homePage .col-md-4 .block0 p {
          background-color: transparent;
          font-size: 36px;
          line-height: 1; }
        /* line 99, ../sass/components/_home_page_default.scss */
        body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-visual-content .homePage .col-md-4 .block0 .btn.btnPerso {
          background-color: #44c0b6 !important;
          font-size: 16px !important;
          width: 90%;
          height: 50px;
          margin-top: 30px; }
      /* line 110, ../sass/components/_home_page_default.scss */
      body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-talent-content {
        /*.maxWidthContent {
          max-width: 1200px;
          margin-left: auto;
          margin-right: auto;
        }*/ }
        /* line 117, ../sass/components/_home_page_default.scss */
        body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-talent-content .homePageColor1 .text-center {
          text-align: center; }
          /* line 119, ../sass/components/_home_page_default.scss */
          body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-talent-content .homePageColor1 .text-center h2 {
            color: #d23f18;
            margin-top: 30px;
            margin-bottom: 30px; }
      /* line 128, ../sass/components/_home_page_default.scss */
      body.node-type-home-page #page #content .panelizer-view-mode .pane-views-partnershow-block {
        margin-left: 15px;
        margin-right: 15px; }
        /* line 132, ../sass/components/_home_page_default.scss */
        body.node-type-home-page #page #content .panelizer-view-mode .pane-views-partnershow-block .view-partnershow {
          margin-bottom: 40px; }
          /* line 135, ../sass/components/_home_page_default.scss */
          body.node-type-home-page #page #content .panelizer-view-mode .pane-views-partnershow-block .view-partnershow #slick-views-partnershow-1-slider {
            width: 90%;
            margin-left: auto;
            margin-right: auto; }
          /* line 141, ../sass/components/_home_page_default.scss */
          body.node-type-home-page #page #content .panelizer-view-mode .pane-views-partnershow-block .view-partnershow .slick-prev:before {
            content: url("/sites/all/themes/mtb360/images/partnerleft.png"); }
          /* line 145, ../sass/components/_home_page_default.scss */
          body.node-type-home-page #page #content .panelizer-view-mode .pane-views-partnershow-block .view-partnershow .slick-next:before {
            content: url("/sites/all/themes/mtb360/images/partnerright.png"); }
      /* line 150, ../sass/components/_home_page_default.scss */
      body.node-type-home-page #page #content .panelizer-view-mode .pane-our-clients-say-panel {
        margin-bottom: 85px; }
        /* line 153, ../sass/components/_home_page_default.scss */
        body.node-type-home-page #page #content .panelizer-view-mode .pane-our-clients-say-panel .maxWidthContent {
          position: relative; }
          /* line 156, ../sass/components/_home_page_default.scss */
          body.node-type-home-page #page #content .panelizer-view-mode .pane-our-clients-say-panel .maxWidthContent .col-xs-12 {
            background-color: #2f2f2f; }
            /* line 159, ../sass/components/_home_page_default.scss */
            body.node-type-home-page #page #content .panelizer-view-mode .pane-our-clients-say-panel .maxWidthContent .col-xs-12 .pane-title {
              display: none; }
            /* line 163, ../sass/components/_home_page_default.scss */
            body.node-type-home-page #page #content .panelizer-view-mode .pane-our-clients-say-panel .maxWidthContent .col-xs-12 .row:last-child {
              width: 100%; }
              /* line 166, ../sass/components/_home_page_default.scss */
              body.node-type-home-page #page #content .panelizer-view-mode .pane-our-clients-say-panel .maxWidthContent .col-xs-12 .row:last-child .bgWhite {
                background-color: #2f2f2f;
                color: white;
                text-align: left; }
                /* line 171, ../sass/components/_home_page_default.scss */
                body.node-type-home-page #page #content .panelizer-view-mode .pane-our-clients-say-panel .maxWidthContent .col-xs-12 .row:last-child .bgWhite .pane-content {
                  position: relative;
                  color: white; }
                  /* line 177, ../sass/components/_home_page_default.scss */
                  body.node-type-home-page #page #content .panelizer-view-mode .pane-our-clients-say-panel .maxWidthContent .col-xs-12 .row:last-child .bgWhite .pane-content p:first-child:before {
                    content: url("/sites/all/themes/mtb360/images/quote_white.png");
                    position: absolute;
                    left: 0;
                    top: 0; }
                  /* line 184, ../sass/components/_home_page_default.scss */
                  body.node-type-home-page #page #content .panelizer-view-mode .pane-our-clients-say-panel .maxWidthContent .col-xs-12 .row:last-child .bgWhite .pane-content p:first-child:after {
                    content: url("/sites/all/themes/mtb360/images/quote_end_white.png");
                    position: absolute;
                    right: 13px; }
                  /* line 192, ../sass/components/_home_page_default.scss */
                  body.node-type-home-page #page #content .panelizer-view-mode .pane-our-clients-say-panel .maxWidthContent .col-xs-12 .row:last-child .bgWhite .pane-content p {
                    font-size: 20px;
                    color: white;
                    margin-left: 98px;
                    margin-right: 13px; }
                    /* line 198, ../sass/components/_home_page_default.scss */
                    body.node-type-home-page #page #content .panelizer-view-mode .pane-our-clients-say-panel .maxWidthContent .col-xs-12 .row:last-child .bgWhite .pane-content p em {
                      font-style: normal;
                      font-size: 20px; }
                    /* line 203, ../sass/components/_home_page_default.scss */
                    body.node-type-home-page #page #content .panelizer-view-mode .pane-our-clients-say-panel .maxWidthContent .col-xs-12 .row:last-child .bgWhite .pane-content p strong {
                      display: none;
                      font-style: italic;
                      color: white;
                      font-size: 14px; }
                  /* line 212, ../sass/components/_home_page_default.scss */
                  body.node-type-home-page #page #content .panelizer-view-mode .pane-our-clients-say-panel .maxWidthContent .col-xs-12 .row:last-child .bgWhite .pane-content p:last-child em {
                    font-style: italic; }
            /* line 220, ../sass/components/_home_page_default.scss */
            body.node-type-home-page #page #content .panelizer-view-mode .pane-our-clients-say-panel .maxWidthContent .col-xs-12 .row:first-child {
              width: 100%;
              margin-bottom: 0; }
              /* line 224, ../sass/components/_home_page_default.scss */
              body.node-type-home-page #page #content .panelizer-view-mode .pane-our-clients-say-panel .maxWidthContent .col-xs-12 .row:first-child .col-xs-12.text-center {
                background-color: transparent;
                text-align: left; }
                /* line 228, ../sass/components/_home_page_default.scss */
                body.node-type-home-page #page #content .panelizer-view-mode .pane-our-clients-say-panel .maxWidthContent .col-xs-12 .row:first-child .col-xs-12.text-center img {
                  margin-left: 27px;
                  margin-top: 27px; }
      /* line 238, ../sass/components/_home_page_default.scss */
      body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-for-content .maxWidthContent {
        /*max-width: 1200px;
        margin-left: auto;
        margin-right: auto;*/ }
        /* line 243, ../sass/components/_home_page_default.scss */
        body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-for-content .maxWidthContent .col-xs-12 {
          width: 100%; }
          /* line 246, ../sass/components/_home_page_default.scss */
          body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-for-content .maxWidthContent .col-xs-12 .block1 {
            padding-left: 0;
            padding-right: 0; }
            /* line 250, ../sass/components/_home_page_default.scss */
            body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-for-content .maxWidthContent .col-xs-12 .block1 img {
              width: 100%; }
          /* line 255, ../sass/components/_home_page_default.scss */
          body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-for-content .maxWidthContent .col-xs-12 .miniblock h2 {
            color: #363636;
            font-size: 18px; }
      /* line 262, ../sass/components/_home_page_default.scss */
      body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-action-link {
        text-align: center; }
        /* line 265, ../sass/components/_home_page_default.scss */
        body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-action-link .field-name-field-action-link {
          padding-bottom: 20px;
          margin-bottom: 20px; }
      /* line 270, ../sass/components/_home_page_default.scss */
      body.node-type-home-page #page #content .panelizer-view-mode .pane-bean-your-talent-in-3-step-default {
        border-top: 50px solid #abcdef; }
      /* line 278, ../sass/components/_home_page_default.scss */
      body.node-type-home-page #page #content .panelizer-view-mode .pane-discover-your-talent .bgDiv1 {
        background-color: white; }
        /* line 281, ../sass/components/_home_page_default.scss */
        body.node-type-home-page #page #content .panelizer-view-mode .pane-discover-your-talent .bgDiv1 .btn.btnPerso {
          background-color: #44c0b6 !important;
          font-size: 16px !important;
          width: 90%; } }
    @media only screen and (min-width: 480px) and (max-width: 1023px) {
      /* line 290, ../sass/components/_home_page_default.scss */
      body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-visual-content {
        background: white url("/sites/all/themes/zen_farmap/images/banner.PNG") no-repeat;
        background-size: cover;
        height: auto; }
        /* line 296, ../sass/components/_home_page_default.scss */
        body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-visual-content .homePage .text-center {
          text-align: center; }
        /* line 299, ../sass/components/_home_page_default.scss */
        body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-visual-content .homePage .col-md-4 {
          width: 720px;
          margin-left: auto;
          margin-right: auto;
          float: none;
          padding-right: 0;
          padding-left: 0; }
          /* line 308, ../sass/components/_home_page_default.scss */
          body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-visual-content .homePage .col-md-4 .block0 h1 {
            color: #363636;
            padding-top: 30px;
            padding-bottom: 30px; }
          /* line 314, ../sass/components/_home_page_default.scss */
          body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-visual-content .homePage .col-md-4 .block0 p {
            background-color: transparent;
            font-size: 36px;
            line-height: 1; }
          /* line 320, ../sass/components/_home_page_default.scss */
          body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-visual-content .homePage .col-md-4 .block0 .btn.btnPerso {
            background-color: #44c0b6 !important;
            font-size: 16px !important;
            width: 280px;
            height: 50px;
            margin-top: 30px;
            margin-bottom: 30px; }
      /* line 333, ../sass/components/_home_page_default.scss */
      body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-talent-content .maxWidthContent {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto; }
      /* line 339, ../sass/components/_home_page_default.scss */
      body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-talent-content .homePageColor1 .text-center {
        text-align: center; }
        /* line 341, ../sass/components/_home_page_default.scss */
        body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-talent-content .homePageColor1 .text-center h2 {
          color: #d23f18;
          margin-top: 30px;
          margin-bottom: 30px; }
      /* line 350, ../sass/components/_home_page_default.scss */
      body.node-type-home-page #page #content .panelizer-view-mode .pane-views-partnershow-block {
        margin-left: 15px;
        margin-right: 15px; }
        /* line 354, ../sass/components/_home_page_default.scss */
        body.node-type-home-page #page #content .panelizer-view-mode .pane-views-partnershow-block .view-partnershow {
          margin-bottom: 40px; }
          /* line 357, ../sass/components/_home_page_default.scss */
          body.node-type-home-page #page #content .panelizer-view-mode .pane-views-partnershow-block .view-partnershow #slick-views-partnershow-1-slider {
            width: 90%;
            margin-left: auto;
            margin-right: auto; }
            /* line 362, ../sass/components/_home_page_default.scss */
            body.node-type-home-page #page #content .panelizer-view-mode .pane-views-partnershow-block .view-partnershow #slick-views-partnershow-1-slider .slick-slide {
              margin-left: 15px;
              margin-right: 15px; }
          /* line 368, ../sass/components/_home_page_default.scss */
          body.node-type-home-page #page #content .panelizer-view-mode .pane-views-partnershow-block .view-partnershow .slick-prev:before {
            content: url("/sites/all/themes/mtb360/images/partnerleft.png"); }
          /* line 372, ../sass/components/_home_page_default.scss */
          body.node-type-home-page #page #content .panelizer-view-mode .pane-views-partnershow-block .view-partnershow .slick-next:before {
            content: url("/sites/all/themes/mtb360/images/partnerright.png"); }
      /* line 377, ../sass/components/_home_page_default.scss */
      body.node-type-home-page #page #content .panelizer-view-mode .pane-our-clients-say-panel {
        margin-bottom: 85px;
        background-color: #2f2f2f; }
        /* line 381, ../sass/components/_home_page_default.scss */
        body.node-type-home-page #page #content .panelizer-view-mode .pane-our-clients-say-panel .maxWidthContent {
          position: relative; }
          /* line 386, ../sass/components/_home_page_default.scss */
          body.node-type-home-page #page #content .panelizer-view-mode .pane-our-clients-say-panel .maxWidthContent .col-xs-12 .pane-title {
            display: none; }
          /* line 390, ../sass/components/_home_page_default.scss */
          body.node-type-home-page #page #content .panelizer-view-mode .pane-our-clients-say-panel .maxWidthContent .col-xs-12 .row:last-child {
            width: 70%;
            float: right; }
            /* line 394, ../sass/components/_home_page_default.scss */
            body.node-type-home-page #page #content .panelizer-view-mode .pane-our-clients-say-panel .maxWidthContent .col-xs-12 .row:last-child .bgWhite {
              background-color: #2f2f2f;
              color: white;
              text-align: left; }
              /* line 399, ../sass/components/_home_page_default.scss */
              body.node-type-home-page #page #content .panelizer-view-mode .pane-our-clients-say-panel .maxWidthContent .col-xs-12 .row:last-child .bgWhite .pane-content {
                position: relative;
                color: white; }
                /* line 403, ../sass/components/_home_page_default.scss */
                body.node-type-home-page #page #content .panelizer-view-mode .pane-our-clients-say-panel .maxWidthContent .col-xs-12 .row:last-child .bgWhite .pane-content p:last-child {
                  margin-top: 20px; }
                  /* line 406, ../sass/components/_home_page_default.scss */
                  body.node-type-home-page #page #content .panelizer-view-mode .pane-our-clients-say-panel .maxWidthContent .col-xs-12 .row:last-child .bgWhite .pane-content p:last-child strong, body.node-type-home-page #page #content .panelizer-view-mode .pane-our-clients-say-panel .maxWidthContent .col-xs-12 .row:last-child .bgWhite .pane-content p:last-child em {
                    border-top: 1px solid white;
                    padding-top: 10px;
                    margin-top: 10px; }
                /* line 413, ../sass/components/_home_page_default.scss */
                body.node-type-home-page #page #content .panelizer-view-mode .pane-our-clients-say-panel .maxWidthContent .col-xs-12 .row:last-child .bgWhite .pane-content p {
                  font-size: 20px;
                  color: white; }
                  /* line 417, ../sass/components/_home_page_default.scss */
                  body.node-type-home-page #page #content .panelizer-view-mode .pane-our-clients-say-panel .maxWidthContent .col-xs-12 .row:last-child .bgWhite .pane-content p em {
                    font-style: normal;
                    font-size: 20px; }
                    /* line 421, ../sass/components/_home_page_default.scss */
                    body.node-type-home-page #page #content .panelizer-view-mode .pane-our-clients-say-panel .maxWidthContent .col-xs-12 .row:last-child .bgWhite .pane-content p em:before {
                      content: url("/sites/all/themes/mtb360/images/quote_white.png");
                      position: absolute;
                      left: -60px;
                      top: 0; }
                    /* line 428, ../sass/components/_home_page_default.scss */
                    body.node-type-home-page #page #content .panelizer-view-mode .pane-our-clients-say-panel .maxWidthContent .col-xs-12 .row:last-child .bgWhite .pane-content p em:after {
                      content: url("/sites/all/themes/mtb360/images/quote_end_white.png");
                      position: absolute;
                      right: 0; }
                  /* line 437, ../sass/components/_home_page_default.scss */
                  body.node-type-home-page #page #content .panelizer-view-mode .pane-our-clients-say-panel .maxWidthContent .col-xs-12 .row:last-child .bgWhite .pane-content p strong {
                    font-style: italic;
                    color: white;
                    font-size: 14px; }
                /* line 445, ../sass/components/_home_page_default.scss */
                body.node-type-home-page #page #content .panelizer-view-mode .pane-our-clients-say-panel .maxWidthContent .col-xs-12 .row:last-child .bgWhite .pane-content p:last-child em {
                  font-style: italic; }
          /* line 453, ../sass/components/_home_page_default.scss */
          body.node-type-home-page #page #content .panelizer-view-mode .pane-our-clients-say-panel .maxWidthContent .col-xs-12 .row:first-child {
            width: 30%;
            position: absolute;
            bottom: -85px;
            margin-bottom: 0; }
            /* line 459, ../sass/components/_home_page_default.scss */
            body.node-type-home-page #page #content .panelizer-view-mode .pane-our-clients-say-panel .maxWidthContent .col-xs-12 .row:first-child .col-xs-12 {
              background-color: transparent; }
      /* line 467, ../sass/components/_home_page_default.scss */
      body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-for-content .maxWidthContent {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px; }
        /* line 473, ../sass/components/_home_page_default.scss */
        body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-for-content .maxWidthContent .row.spacing {
          width: 80%;
          margin-left: auto !important;
          margin-right: auto !important; }
          /* line 478, ../sass/components/_home_page_default.scss */
          body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-for-content .maxWidthContent .row.spacing .col-xs-12 {
            width: 28%;
            float: left; }
            /* line 482, ../sass/components/_home_page_default.scss */
            body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-for-content .maxWidthContent .row.spacing .col-xs-12 .block1 {
              padding-left: 0;
              padding-right: 0; }
              /* line 486, ../sass/components/_home_page_default.scss */
              body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-for-content .maxWidthContent .row.spacing .col-xs-12 .block1 img {
                width: 100%; }
            /* line 491, ../sass/components/_home_page_default.scss */
            body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-for-content .maxWidthContent .row.spacing .col-xs-12 .miniblock h2 {
              color: #363636;
              font-size: 18px; }
          /* line 497, ../sass/components/_home_page_default.scss */
          body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-for-content .maxWidthContent .row.spacing .col-xs-12:first-child {
            margin-right: 8%; }
          /* line 501, ../sass/components/_home_page_default.scss */
          body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-for-content .maxWidthContent .row.spacing .col-xs-12:last-child {
            margin-left: 8%; }
      /* line 507, ../sass/components/_home_page_default.scss */
      body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-action-link {
        text-align: center;
        margin-top: 30px; }
        /* line 511, ../sass/components/_home_page_default.scss */
        body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-action-link .field-name-field-action-link {
          padding-bottom: 20px;
          margin-bottom: 20px; }
      /* line 516, ../sass/components/_home_page_default.scss */
      body.node-type-home-page #page #content .panelizer-view-mode .pane-bean-your-talent-in-3-step-default {
        border-top: 50px solid #abcdef; }
      /* line 523, ../sass/components/_home_page_default.scss */
      body.node-type-home-page #page #content .panelizer-view-mode .pane-discover-your-talent .bgDiv1 {
        background-color: white; }
        /* line 526, ../sass/components/_home_page_default.scss */
        body.node-type-home-page #page #content .panelizer-view-mode .pane-discover-your-talent .bgDiv1 .btn.btnPerso {
          background-color: #44c0b6 !important;
          font-size: 16px !important;
          width: 280px;
          height: 50px;
          margin-top: 30px;
          margin-bottom: 30px; } }
    @media only screen and (min-width: 1024px) and (max-width: 1279px) {
      /* line 538, ../sass/components/_home_page_default.scss */
      body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-visual-content {
        background: white url("/sites/all/themes/zen_farmap/images/banner.PNG") no-repeat;
        background-size: cover;
        height: auto; }
        /* line 544, ../sass/components/_home_page_default.scss */
        body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-visual-content .homePage .text-center {
          text-align: center; }
        /* line 547, ../sass/components/_home_page_default.scss */
        body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-visual-content .homePage .col-md-4 {
          width: 1200px;
          margin-left: auto;
          margin-right: auto;
          float: none;
          padding-right: 0;
          padding-left: 0; }
          /* line 556, ../sass/components/_home_page_default.scss */
          body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-visual-content .homePage .col-md-4 .block0 h1 {
            color: #363636;
            padding-top: 50px;
            padding-bottom: 50px; }
          /* line 562, ../sass/components/_home_page_default.scss */
          body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-visual-content .homePage .col-md-4 .block0 p {
            background-color: transparent;
            font-size: 36px;
            line-height: 1; }
          /* line 568, ../sass/components/_home_page_default.scss */
          body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-visual-content .homePage .col-md-4 .block0 .btn.btnPerso {
            background-color: #44c0b6 !important;
            font-size: 16px !important;
            width: 280px;
            height: 50px;
            margin-top: 50px;
            margin-bottom: 50px; }
      /* line 581, ../sass/components/_home_page_default.scss */
      body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-talent-content .maxWidthContent {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto; }
      /* line 587, ../sass/components/_home_page_default.scss */
      body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-talent-content .homePageColor1 .text-center {
        text-align: center; }
        /* line 589, ../sass/components/_home_page_default.scss */
        body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-talent-content .homePageColor1 .text-center h2 {
          color: #d23f18;
          margin-top: 30px;
          margin-bottom: 30px; }
      /* line 598, ../sass/components/_home_page_default.scss */
      body.node-type-home-page #page #content .panelizer-view-mode .pane-views-partnershow-block {
        margin-left: 15px;
        margin-right: 15px; }
        /* line 602, ../sass/components/_home_page_default.scss */
        body.node-type-home-page #page #content .panelizer-view-mode .pane-views-partnershow-block .view-partnershow {
          margin-bottom: 40px; }
          /* line 605, ../sass/components/_home_page_default.scss */
          body.node-type-home-page #page #content .panelizer-view-mode .pane-views-partnershow-block .view-partnershow #slick-views-partnershow-1-slider {
            width: 90%;
            margin-left: auto;
            margin-right: auto; }
            /* line 610, ../sass/components/_home_page_default.scss */
            body.node-type-home-page #page #content .panelizer-view-mode .pane-views-partnershow-block .view-partnershow #slick-views-partnershow-1-slider .slick-slide {
              margin-left: 15px;
              margin-right: 15px; }
          /* line 616, ../sass/components/_home_page_default.scss */
          body.node-type-home-page #page #content .panelizer-view-mode .pane-views-partnershow-block .view-partnershow .slick-prev:before {
            content: url("/sites/all/themes/mtb360/images/partnerleft.png"); }
          /* line 620, ../sass/components/_home_page_default.scss */
          body.node-type-home-page #page #content .panelizer-view-mode .pane-views-partnershow-block .view-partnershow .slick-next:before {
            content: url("/sites/all/themes/mtb360/images/partnerright.png"); }
      /* line 625, ../sass/components/_home_page_default.scss */
      body.node-type-home-page #page #content .panelizer-view-mode .pane-our-clients-say-panel {
        margin-bottom: 85px;
        background-color: #2f2f2f; }
        /* line 629, ../sass/components/_home_page_default.scss */
        body.node-type-home-page #page #content .panelizer-view-mode .pane-our-clients-say-panel .maxWidthContent {
          position: relative; }
          /* line 634, ../sass/components/_home_page_default.scss */
          body.node-type-home-page #page #content .panelizer-view-mode .pane-our-clients-say-panel .maxWidthContent .col-xs-12 .pane-title {
            display: none; }
          /* line 638, ../sass/components/_home_page_default.scss */
          body.node-type-home-page #page #content .panelizer-view-mode .pane-our-clients-say-panel .maxWidthContent .col-xs-12 .row:last-child {
            width: 70%;
            float: right; }
            /* line 642, ../sass/components/_home_page_default.scss */
            body.node-type-home-page #page #content .panelizer-view-mode .pane-our-clients-say-panel .maxWidthContent .col-xs-12 .row:last-child .bgWhite {
              background-color: #2f2f2f;
              color: white;
              text-align: left; }
              /* line 647, ../sass/components/_home_page_default.scss */
              body.node-type-home-page #page #content .panelizer-view-mode .pane-our-clients-say-panel .maxWidthContent .col-xs-12 .row:last-child .bgWhite .pane-content {
                position: relative;
                color: white; }
                /* line 651, ../sass/components/_home_page_default.scss */
                body.node-type-home-page #page #content .panelizer-view-mode .pane-our-clients-say-panel .maxWidthContent .col-xs-12 .row:last-child .bgWhite .pane-content p {
                  font-size: 20px;
                  color: white; }
                  /* line 655, ../sass/components/_home_page_default.scss */
                  body.node-type-home-page #page #content .panelizer-view-mode .pane-our-clients-say-panel .maxWidthContent .col-xs-12 .row:last-child .bgWhite .pane-content p em {
                    font-style: normal;
                    font-size: 20px; }
                    /* line 659, ../sass/components/_home_page_default.scss */
                    body.node-type-home-page #page #content .panelizer-view-mode .pane-our-clients-say-panel .maxWidthContent .col-xs-12 .row:last-child .bgWhite .pane-content p em:before {
                      content: url("/sites/all/themes/mtb360/images/quote_white.png");
                      position: absolute;
                      left: -60px;
                      top: 0; }
                    /* line 666, ../sass/components/_home_page_default.scss */
                    body.node-type-home-page #page #content .panelizer-view-mode .pane-our-clients-say-panel .maxWidthContent .col-xs-12 .row:last-child .bgWhite .pane-content p em:after {
                      content: url("/sites/all/themes/mtb360/images/quote_end_white.png");
                      position: absolute;
                      right: 0; }
                  /* line 674, ../sass/components/_home_page_default.scss */
                  body.node-type-home-page #page #content .panelizer-view-mode .pane-our-clients-say-panel .maxWidthContent .col-xs-12 .row:last-child .bgWhite .pane-content p strong {
                    font-style: italic;
                    color: white;
                    font-size: 14px; }
                /* line 681, ../sass/components/_home_page_default.scss */
                body.node-type-home-page #page #content .panelizer-view-mode .pane-our-clients-say-panel .maxWidthContent .col-xs-12 .row:last-child .bgWhite .pane-content p:last-child {
                  margin-top: 20px; }
                  /* line 684, ../sass/components/_home_page_default.scss */
                  body.node-type-home-page #page #content .panelizer-view-mode .pane-our-clients-say-panel .maxWidthContent .col-xs-12 .row:last-child .bgWhite .pane-content p:last-child strong, body.node-type-home-page #page #content .panelizer-view-mode .pane-our-clients-say-panel .maxWidthContent .col-xs-12 .row:last-child .bgWhite .pane-content p:last-child em {
                    border-top: 1px solid white;
                    padding-top: 10px;
                    margin-top: 10px; }
                  /* line 690, ../sass/components/_home_page_default.scss */
                  body.node-type-home-page #page #content .panelizer-view-mode .pane-our-clients-say-panel .maxWidthContent .col-xs-12 .row:last-child .bgWhite .pane-content p:last-child em {
                    font-style: italic; }
          /* line 699, ../sass/components/_home_page_default.scss */
          body.node-type-home-page #page #content .panelizer-view-mode .pane-our-clients-say-panel .maxWidthContent .col-xs-12 .row:first-child {
            width: 30%;
            position: absolute;
            bottom: -85px;
            margin-bottom: 0; }
            /* line 705, ../sass/components/_home_page_default.scss */
            body.node-type-home-page #page #content .panelizer-view-mode .pane-our-clients-say-panel .maxWidthContent .col-xs-12 .row:first-child .col-xs-12 {
              background-color: transparent; }
      /* line 713, ../sass/components/_home_page_default.scss */
      body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-for-content .maxWidthContent {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px; }
        /* line 719, ../sass/components/_home_page_default.scss */
        body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-for-content .maxWidthContent .row.spacing {
          width: 80%;
          margin-left: auto !important;
          margin-right: auto !important; }
          /* line 724, ../sass/components/_home_page_default.scss */
          body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-for-content .maxWidthContent .row.spacing .col-xs-12 {
            width: 28%;
            float: left; }
            /* line 728, ../sass/components/_home_page_default.scss */
            body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-for-content .maxWidthContent .row.spacing .col-xs-12 .block1 {
              padding-left: 0;
              padding-right: 0; }
              /* line 732, ../sass/components/_home_page_default.scss */
              body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-for-content .maxWidthContent .row.spacing .col-xs-12 .block1 img {
                width: 100%; }
            /* line 737, ../sass/components/_home_page_default.scss */
            body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-for-content .maxWidthContent .row.spacing .col-xs-12 .miniblock h2 {
              color: #363636;
              font-size: 18px; }
          /* line 743, ../sass/components/_home_page_default.scss */
          body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-for-content .maxWidthContent .row.spacing .col-xs-12:first-child {
            margin-right: 8%; }
          /* line 747, ../sass/components/_home_page_default.scss */
          body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-for-content .maxWidthContent .row.spacing .col-xs-12:last-child {
            margin-left: 8%; }
      /* line 753, ../sass/components/_home_page_default.scss */
      body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-action-link {
        text-align: center;
        margin-top: 50px; }
        /* line 757, ../sass/components/_home_page_default.scss */
        body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-action-link .field-name-field-action-link {
          padding-bottom: 20px;
          margin-bottom: 20px; }
      /* line 762, ../sass/components/_home_page_default.scss */
      body.node-type-home-page #page #content .panelizer-view-mode .pane-bean-your-talent-in-3-step-default {
        border-top: 50px solid #abcdef; }
      /* line 769, ../sass/components/_home_page_default.scss */
      body.node-type-home-page #page #content .panelizer-view-mode .pane-discover-your-talent .bgDiv1 {
        background-color: white; }
        /* line 772, ../sass/components/_home_page_default.scss */
        body.node-type-home-page #page #content .panelizer-view-mode .pane-discover-your-talent .bgDiv1 .btn.btnPerso {
          background-color: #44c0b6 !important;
          font-size: 16px !important;
          width: 280px;
          height: 50px;
          margin-top: 30px;
          margin-bottom: 30px; } }
    @media only screen and (min-width: 1280px) {
      /* line 784, ../sass/components/_home_page_default.scss */
      body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-visual-content {
        background: white url("/sites/all/themes/zen_farmap/images/banner.PNG") no-repeat;
        background-size: cover;
        height: auto; }
        /* line 790, ../sass/components/_home_page_default.scss */
        body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-visual-content .homePage .text-center {
          text-align: center; }
        /* line 793, ../sass/components/_home_page_default.scss */
        body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-visual-content .homePage .col-md-4 {
          width: 1200px;
          margin-left: auto;
          margin-right: auto;
          float: none;
          padding-right: 0;
          padding-left: 0; }
          /* line 802, ../sass/components/_home_page_default.scss */
          body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-visual-content .homePage .col-md-4 .block0 h1 {
            color: #363636;
            padding-top: 50px;
            padding-bottom: 50px;
            margin-top: 0;
            margin-bottom: 0; }
          /* line 810, ../sass/components/_home_page_default.scss */
          body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-visual-content .homePage .col-md-4 .block0 p {
            background-color: transparent;
            font-size: 36px;
            line-height: 1; }
          /* line 816, ../sass/components/_home_page_default.scss */
          body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-visual-content .homePage .col-md-4 .block0 .btn.btnPerso {
            background-color: #44c0b6 !important;
            font-size: 16px !important;
            width: 280px;
            height: 50px;
            margin-top: 50px;
            margin-bottom: 50px; }
        /* line 828, ../sass/components/_home_page_default.scss */
        body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-visual-content .homePage .headerHomeHeight {
          height: 100%;
          margin: 0;
          padding: 0; }
      /* line 835, ../sass/components/_home_page_default.scss */
      body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-talent-content .maxWidthContent {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto; }
      /* line 841, ../sass/components/_home_page_default.scss */
      body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-talent-content .homePageColor1 .text-center {
        text-align: center; }
        /* line 843, ../sass/components/_home_page_default.scss */
        body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-talent-content .homePageColor1 .text-center h2 {
          color: #d23f18;
          margin-top: 30px;
          margin-bottom: 30px; }
        /* line 849, ../sass/components/_home_page_default.scss */
        body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-talent-content .homePageColor1 .text-center .content {
          color: #d23f18;
          margin-bottom: 50px; }
      /* line 856, ../sass/components/_home_page_default.scss */
      body.node-type-home-page #page #content .panelizer-view-mode .pane-views-partnershow-block {
        margin-left: 15px;
        margin-right: 15px; }
        /* line 860, ../sass/components/_home_page_default.scss */
        body.node-type-home-page #page #content .panelizer-view-mode .pane-views-partnershow-block .view-partnershow {
          margin-bottom: 40px; }
          /* line 863, ../sass/components/_home_page_default.scss */
          body.node-type-home-page #page #content .panelizer-view-mode .pane-views-partnershow-block .view-partnershow #slick-views-partnershow-1-slider {
            width: 90%;
            margin-left: auto;
            margin-right: auto; }
            /* line 868, ../sass/components/_home_page_default.scss */
            body.node-type-home-page #page #content .panelizer-view-mode .pane-views-partnershow-block .view-partnershow #slick-views-partnershow-1-slider .slick-slide {
              margin-left: 15px;
              margin-right: 15px; }
          /* line 874, ../sass/components/_home_page_default.scss */
          body.node-type-home-page #page #content .panelizer-view-mode .pane-views-partnershow-block .view-partnershow .slick-prev:before {
            content: url("/sites/all/themes/mtb360/images/partnerleft.png"); }
          /* line 878, ../sass/components/_home_page_default.scss */
          body.node-type-home-page #page #content .panelizer-view-mode .pane-views-partnershow-block .view-partnershow .slick-next:before {
            content: url("/sites/all/themes/mtb360/images/partnerright.png"); }
      /* line 883, ../sass/components/_home_page_default.scss */
      body.node-type-home-page #page #content .panelizer-view-mode .pane-our-clients-say-panel {
        margin-bottom: 85px;
        background-color: #abcdef; }
        /* line 887, ../sass/components/_home_page_default.scss */
        body.node-type-home-page #page #content .panelizer-view-mode .pane-our-clients-say-panel .maxWidthContent {
          position: relative; }
          /* line 892, ../sass/components/_home_page_default.scss */
          body.node-type-home-page #page #content .panelizer-view-mode .pane-our-clients-say-panel .maxWidthContent .col-xs-12 .pane-title {
            display: none; }
          /* line 896, ../sass/components/_home_page_default.scss */
          body.node-type-home-page #page #content .panelizer-view-mode .pane-our-clients-say-panel .maxWidthContent .col-xs-12 .row:last-child {
            width: 70%;
            float: right; }
            /* line 900, ../sass/components/_home_page_default.scss */
            body.node-type-home-page #page #content .panelizer-view-mode .pane-our-clients-say-panel .maxWidthContent .col-xs-12 .row:last-child .bgWhite {
              background-color: #abcdef;
              color: white;
              text-align: left; }
              /* line 905, ../sass/components/_home_page_default.scss */
              body.node-type-home-page #page #content .panelizer-view-mode .pane-our-clients-say-panel .maxWidthContent .col-xs-12 .row:last-child .bgWhite .pane-content {
                position: relative;
                color: white; }
                /* line 909, ../sass/components/_home_page_default.scss */
                body.node-type-home-page #page #content .panelizer-view-mode .pane-our-clients-say-panel .maxWidthContent .col-xs-12 .row:last-child .bgWhite .pane-content p {
                  font-size: 20px;
                  color: white; }
                  /* line 913, ../sass/components/_home_page_default.scss */
                  body.node-type-home-page #page #content .panelizer-view-mode .pane-our-clients-say-panel .maxWidthContent .col-xs-12 .row:last-child .bgWhite .pane-content p em {
                    font-style: normal;
                    font-size: 20px; }
                    /* line 917, ../sass/components/_home_page_default.scss */
                    body.node-type-home-page #page #content .panelizer-view-mode .pane-our-clients-say-panel .maxWidthContent .col-xs-12 .row:last-child .bgWhite .pane-content p em:before {
                      content: url("/sites/all/themes/mtb360/images/quote_white.png");
                      position: absolute;
                      left: -60px;
                      top: 0; }
                    /* line 924, ../sass/components/_home_page_default.scss */
                    body.node-type-home-page #page #content .panelizer-view-mode .pane-our-clients-say-panel .maxWidthContent .col-xs-12 .row:last-child .bgWhite .pane-content p em:after {
                      content: url("/sites/all/themes/mtb360/images/quote_end_white.png");
                      position: absolute;
                      right: 0; }
                  /* line 932, ../sass/components/_home_page_default.scss */
                  body.node-type-home-page #page #content .panelizer-view-mode .pane-our-clients-say-panel .maxWidthContent .col-xs-12 .row:last-child .bgWhite .pane-content p strong {
                    font-style: italic;
                    color: white;
                    font-size: 14px; }
                /* line 939, ../sass/components/_home_page_default.scss */
                body.node-type-home-page #page #content .panelizer-view-mode .pane-our-clients-say-panel .maxWidthContent .col-xs-12 .row:last-child .bgWhite .pane-content p:last-child {
                  margin-top: 20px; }
                  /* line 942, ../sass/components/_home_page_default.scss */
                  body.node-type-home-page #page #content .panelizer-view-mode .pane-our-clients-say-panel .maxWidthContent .col-xs-12 .row:last-child .bgWhite .pane-content p:last-child strong, body.node-type-home-page #page #content .panelizer-view-mode .pane-our-clients-say-panel .maxWidthContent .col-xs-12 .row:last-child .bgWhite .pane-content p:last-child em {
                    border-top: 1px solid white;
                    padding-top: 10px;
                    margin-top: 10px; }
                  /* line 948, ../sass/components/_home_page_default.scss */
                  body.node-type-home-page #page #content .panelizer-view-mode .pane-our-clients-say-panel .maxWidthContent .col-xs-12 .row:last-child .bgWhite .pane-content p:last-child em {
                    font-style: italic; }
          /* line 957, ../sass/components/_home_page_default.scss */
          body.node-type-home-page #page #content .panelizer-view-mode .pane-our-clients-say-panel .maxWidthContent .col-xs-12 .row:first-child {
            width: 30%;
            position: absolute;
            bottom: -85px;
            margin-bottom: 0; }
            /* line 963, ../sass/components/_home_page_default.scss */
            body.node-type-home-page #page #content .panelizer-view-mode .pane-our-clients-say-panel .maxWidthContent .col-xs-12 .row:first-child .col-xs-12 {
              background-color: transparent; }
      /* line 971, ../sass/components/_home_page_default.scss */
      body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-for-content .maxWidthContent {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px; }
        /* line 978, ../sass/components/_home_page_default.scss */
        body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-for-content .maxWidthContent .col-xs-12 {
          width: 28%;
          float: left; }
          /* line 982, ../sass/components/_home_page_default.scss */
          body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-for-content .maxWidthContent .col-xs-12 .block1 {
            padding-left: 0;
            padding-right: 0; }
            /* line 986, ../sass/components/_home_page_default.scss */
            body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-for-content .maxWidthContent .col-xs-12 .block1 img {
              width: 100%; }
          /* line 991, ../sass/components/_home_page_default.scss */
          body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-for-content .maxWidthContent .col-xs-12 .miniblock h2 {
            color: #363636;
            font-size: 18px; }
        /* line 997, ../sass/components/_home_page_default.scss */
        body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-for-content .maxWidthContent .col-xs-12:first-child {
          margin-right: 8%; }
        /* line 1001, ../sass/components/_home_page_default.scss */
        body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-for-content .maxWidthContent .col-xs-12:last-child {
          margin-left: 8%; }
      /* line 1006, ../sass/components/_home_page_default.scss */
      body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-action-link {
        text-align: center;
        margin-top: 50px; }
        /* line 1010, ../sass/components/_home_page_default.scss */
        body.node-type-home-page #page #content .panelizer-view-mode .pane-node-field-action-link .field-name-field-action-link {
          padding-bottom: 20px;
          margin-bottom: 20px; }
      /* line 1016, ../sass/components/_home_page_default.scss */
      body.node-type-home-page #page #content .panelizer-view-mode .pane-bean-your-talent-in-3-step-default {
        border-top: 100px solid #abcdef; }
      /* line 1021, ../sass/components/_home_page_default.scss */
      body.node-type-home-page #page #content .panelizer-view-mode .pane-discover-your-talent .bgDiv1 {
        background-color: #7da75f; }
        /* line 1024, ../sass/components/_home_page_default.scss */
        body.node-type-home-page #page #content .panelizer-view-mode .pane-discover-your-talent .bgDiv1 .btn.btnPerso {
          background-color: #44c0b6 !important;
          font-size: 16px !important;
          width: 280px;
          height: 50px;
          margin-top: 30px;
          margin-bottom: 30px; }
        /* line 1033, ../sass/components/_home_page_default.scss */
        body.node-type-home-page #page #content .panelizer-view-mode .pane-discover-your-talent .bgDiv1 .row {
          margin-bottom: 0; } }
  /* line 1043, ../sass/components/_home_page_default.scss */
  body.node-type-home-page #page .field-name-field-action-link, body.node-type-home-page #page .field-name-field-translatable-action-link {
    width: 280px;
    margin-left: auto;
    margin-right: auto; }
    @media only screen and (max-width: 479px) {
      /* line 1043, ../sass/components/_home_page_default.scss */
      body.node-type-home-page #page .field-name-field-action-link, body.node-type-home-page #page .field-name-field-translatable-action-link {
        width: 90%; } }
    /* line 1050, ../sass/components/_home_page_default.scss */
    body.node-type-home-page #page .field-name-field-action-link a, body.node-type-home-page #page .field-name-field-translatable-action-link a {
      background-color: #44c0b6;
      font-size: 16px;
      width: 280px;
      height: 50px;
      margin-top: 30px;
      margin-bottom: 30px;
      font-weight: normal !important;
      padding: 1px 6px !important;
      text-align: center;
      display: flex;
      line-height: normal;
      color: buttontext;
      -webkit-appearance: button;
      cursor: pointer;
      text-transform: none;
      text-decoration: none;
      box-sizing: border-box;
      border-width: 2px;
      border-style: outset;
      border-color: buttonface;
      border-image: initial;
      box-shadow: 2px 2px buttonface;
      justify-content: center;
      align-items: center; }
      @media only screen and (max-width: 479px) {
        /* line 1050, ../sass/components/_home_page_default.scss */
        body.node-type-home-page #page .field-name-field-action-link a, body.node-type-home-page #page .field-name-field-translatable-action-link a {
          width: 90%; } }
/* line 1088, ../sass/components/_home_page_default.scss */
body.node-type-home-page nav .myContent {
  max-width: 100%; }

/* No files to import found in layouts/**\/* */

/*# sourceMappingURL=styles_mtb360_global_override.css.map */
