body.node-type-home-page {
  #page {
    header {
      display: none;
    }
    #main {
      padding-top: 0;
      #navigation {

        display: none;
      }
      .block {
        margin-bottom: 0;
      }
      p {
        margin-top: 0;
        margin-bottom: 0;
      }
      .field-collection-container {
        margin-bottom: 0;
        &:last-child {
          border-bottom: none;
        }
      }
    }
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    max-width: none;
    #content {
      padding-left: 0;
      padding-right: 0;
      h1.page__title {
        display: none;
      }
      .panelizer-view-mode {
        h1 {
          font-size: 72px;
          color: $homepageblacktext;

        }

        h2 {
          font-size: 48px;
          color: $highlight;

        }

        p {
          font-size: 16px;
          color: $homepageblacktext;
        }
        a {
          color: $complementary;
          &:link,&:visited,&:hover,&:active {
            color: $complementary;
          }
        }
        .field-name-field-action-link a {
          color: buttontext;
          &:link,&:visited,&:hover,&:active {
            color: buttontext;
          }
        }
        .panels-flexible-region-1-center {
          width: 100%;
        }

        @media #{$small} {
          .pane-node-field-visual-content {
            .homePage {
              .headerHomeHeight {
                height: auto;
              }
              .text-center {
                text-align: center;
              }

              .col-md-4 {
                width: 100%;
                /*margin-left: auto;
                margin-right: auto;*/
                float: none;
                padding-right: 0;
                padding-left: 0;

                .block0 {
                  h1 {
                    color: $homepageblacktext;
                    word-wrap: break-word;
                  }

                  p {
                    background-color: transparent;
                    font-size: 36px;
                    line-height: 1;
                  }

                  .btn.btnPerso {
                    background-color: $complementary !important;
                    font-size: 16px !important;
                    width: 90%;
                    height: 50px;
                    margin-top: 30px;
                  }
                }
              }
            }
          }
          .pane-node-field-talent-content {
            /*.maxWidthContent {
              max-width: 1200px;
              margin-left: auto;
              margin-right: auto;
            }*/
            .homePageColor1 {
              .text-center {
                text-align: center;
                h2 {

                  color: $highlight;
                  margin-top: 30px;
                  margin-bottom: 30px;
                }
              }
            }
          }
          .pane-views-partnershow-block {
            margin-left: 15px;
            margin-right: 15px;

            .view-partnershow {
              margin-bottom: 40px;

              #slick-views-partnershow-1-slider {
                width: 90%;
                margin-left: auto;
                margin-right: auto;
              }

              .slick-prev:before {
                content: url("/sites/all/themes/mtb360/images/partnerleft.png");
              }

              .slick-next:before {
                content: url("/sites/all/themes/mtb360/images/partnerright.png");
              }
            }
          }
          .pane-our-clients-say-panel {
            margin-bottom: 85px;

            .maxWidthContent {
              position: relative;
              //background-color: $kaki;
              .col-xs-12 {
                background-color: $mobilegrey;

                .pane-title {
                  display: none;
                }

                .row:last-child {
                  width: 100%;
                  //float: right;
                  .bgWhite {
                    background-color: $mobilegrey;
                    color: white;
                    text-align: left;

                    .pane-content {
                      position: relative;
                      color: white;

                      p:first-child {
                        //border-bottom: 1px solid white;
                        &:before {
                          content: url("/sites/all/themes/mtb360/images/quote_white.png");
                          position: absolute;
                          left: 0;
                          top: 0;
                        }

                        &:after {
                          content: url("/sites/all/themes/mtb360/images/quote_end_white.png");
                          position: absolute;
                          right: 13px;
                          //bottom: 0px;
                        }
                      }

                      p {
                        font-size: 20px;
                        color: white;
                        margin-left: 98px;
                        margin-right: 13px;

                        em {
                          font-style: normal;
                          font-size: 20px;
                        }

                        strong {
                          display: none;
                          font-style: italic;
                          color: white;
                          font-size: 14px;
                        }
                      }

                      p:last-child {
                        em {
                          font-style: italic;
                        }
                      }
                    }
                  }
                }

                .row:first-child {
                  width: 100%;
                  margin-bottom: 0;

                  .col-xs-12.text-center {
                    background-color: transparent;
                    text-align: left;

                    img {
                      margin-left: 27px;
                      margin-top: 27px;
                    }
                  }
                }
              }
            }
          }
          .pane-node-field-for-content {
            .maxWidthContent {
              /*max-width: 1200px;
              margin-left: auto;
              margin-right: auto;*/

              .col-xs-12 {
                width: 100%;

                .block1 {
                  padding-left: 0;
                  padding-right: 0;

                  img {
                    width: 100%;
                  }
                }

                .miniblock h2 {
                  color: $homepageblacktext;
                  font-size: 18px;
                }
              }
            }
          }
          .pane-node-field-action-link {
            text-align: center;

            .field-name-field-action-link {
              padding-bottom: 20px;
              margin-bottom: 20px;
            }
          }
          .pane-bean-your-talent-in-3-step-default {

            border-top: 50px solid $kaki;


          }

          .pane-discover-your-talent {
            .bgDiv1 {
              background-color: white;

              .btn.btnPerso {
                background-color: $complementary !important;
                font-size: 16px !important;
                width: 90%;
              }
            }
          }
        }
        @media #{$medium} {
          .pane-node-field-visual-content {
            background: white url("/sites/all/themes/zen_farmap/images/banner.PNG") no-repeat;
            background-size: cover;
            height: auto;

            .homePage {
              .text-center {
                text-align: center;
              }
              .col-md-4 {
                width: 720px;
                margin-left: auto;
                margin-right: auto;
                float: none;
                padding-right: 0;
                padding-left: 0;

                .block0 {
                  h1 {
                    color: $homepageblacktext;
                    padding-top: 30px;
                    padding-bottom: 30px;
                  }

                  p {
                    background-color: transparent;
                    font-size: 36px;
                    line-height: 1;
                  }

                  .btn.btnPerso {
                    background-color: $complementary !important;
                    font-size: 16px !important;
                    width: 280px;
                    height: 50px;
                    margin-top: 30px;
                    margin-bottom: 30px;
                  }
                }
              }
            }
          }
          .pane-node-field-talent-content {
            .maxWidthContent {
              max-width: 1200px;
              margin-left: auto;
              margin-right: auto;
            }
            .homePageColor1 {
              .text-center {
                text-align: center;
                h2 {

                  color: $highlight;
                  margin-top: 30px;
                  margin-bottom: 30px;
                }
              }
            }
          }
          .pane-views-partnershow-block {
            margin-left: 15px;
            margin-right: 15px;

            .view-partnershow {
              margin-bottom: 40px;

              #slick-views-partnershow-1-slider {
                width: 90%;
                margin-left: auto;
                margin-right: auto;

                .slick-slide {
                  margin-left: 15px;
                  margin-right: 15px;
                }
              }

              .slick-prev:before {
                content: url("/sites/all/themes/mtb360/images/partnerleft.png");
              }

              .slick-next:before {
                content: url("/sites/all/themes/mtb360/images/partnerright.png");
              }
            }
          }
          .pane-our-clients-say-panel {
            margin-bottom: 85px;
            background-color: $mobilegrey;

            .maxWidthContent {
              position: relative;
              //background-color: $kaki;
              .col-xs-12 {
                //background-color: $kaki;
                .pane-title {
                  display: none;
                }

                .row:last-child {
                  width: 70%;
                  float: right;

                  .bgWhite {
                    background-color: $mobilegrey;
                    color: white;
                    text-align: left;

                    .pane-content {
                      position: relative;
                      color: white;

                      p:last-child {
                        margin-top: 20px;

                        strong, em {
                          border-top: 1px solid white;
                          padding-top: 10px;
                          margin-top: 10px;
                        }
                      }

                      p {
                        font-size: 20px;
                        color: white;

                        em {
                          font-style: normal;
                          font-size: 20px;

                          &:before {
                            content: url("/sites/all/themes/mtb360/images/quote_white.png");
                            position: absolute;
                            left: -60px;
                            top: 0;
                          }

                          &:after {
                            content: url("/sites/all/themes/mtb360/images/quote_end_white.png");
                            position: absolute;
                            right: 0;
                            //bottom: 0;
                          }

                        }

                        strong {
                          font-style: italic;
                          color: white;
                          font-size: 14px;
                        }
                      }

                      p:last-child {
                        em {
                          font-style: italic;
                        }
                      }
                    }
                  }
                }

                .row:first-child {
                  width: 30%;
                  position: absolute;
                  bottom: -85px;
                  margin-bottom: 0;

                  .col-xs-12 {
                    background-color: transparent;
                  }
                }
              }
            }
          }
          .pane-node-field-for-content {
            .maxWidthContent {
              max-width: 1200px;
              margin-left: auto;
              margin-right: auto;
              margin-top: 30px;

              .row.spacing {
                width: 80%;
                margin-left: auto !important;
                margin-right: auto !important;

                .col-xs-12 {
                  width: 28%;
                  float: left;

                  .block1 {
                    padding-left: 0;
                    padding-right: 0;

                    img {
                      width: 100%;
                    }
                  }

                  .miniblock h2 {
                    color: $homepageblacktext;
                    font-size: 18px;
                  }
                }

                .col-xs-12:first-child {
                  margin-right: 8%;
                }

                .col-xs-12:last-child {
                  margin-left: 8%;
                }
              }
            }
          }
          .pane-node-field-action-link {
            text-align: center;
            margin-top: 30px;

            .field-name-field-action-link {
              padding-bottom: 20px;
              margin-bottom: 20px;
            }
          }
          .pane-bean-your-talent-in-3-step-default {

            border-top: 50px solid $kaki;


          }
          .pane-discover-your-talent {
            .bgDiv1 {
              background-color: white;

              .btn.btnPerso {
                background-color: $complementary !important;
                font-size: 16px !important;
                width: 280px;
                height: 50px;
                margin-top: 30px;
                margin-bottom: 30px;
              }
            }
          }
        }
        @media #{$desktop} {
          .pane-node-field-visual-content {
            background: white url("/sites/all/themes/zen_farmap/images/banner.PNG") no-repeat;
            background-size: cover;
            height: auto;

            .homePage {
              .text-center {
                text-align: center;
              }
              .col-md-4 {
                width: 1200px;
                margin-left: auto;
                margin-right: auto;
                float: none;
                padding-right: 0;
                padding-left: 0;

                .block0 {
                  h1 {
                    color: $homepageblacktext;
                    padding-top: 50px;
                    padding-bottom: 50px;
                  }

                  p {
                    background-color: transparent;
                    font-size: 36px;
                    line-height: 1;
                  }

                  .btn.btnPerso {
                    background-color: $complementary !important;
                    font-size: 16px !important;
                    width: 280px;
                    height: 50px;
                    margin-top: 50px;
                    margin-bottom: 50px;
                  }
                }
              }
            }
          }
          .pane-node-field-talent-content {
            .maxWidthContent {
              max-width: 1200px;
              margin-left: auto;
              margin-right: auto;
            }
            .homePageColor1 {
              .text-center {
                text-align: center;
                h2 {

                  color: $highlight;
                  margin-top: 30px;
                  margin-bottom: 30px;
                }
              }
            }
          }
          .pane-views-partnershow-block {
            margin-left: 15px;
            margin-right: 15px;

            .view-partnershow {
              margin-bottom: 40px;

              #slick-views-partnershow-1-slider {
                width: 90%;
                margin-left: auto;
                margin-right: auto;

                .slick-slide {
                  margin-left: 15px;
                  margin-right: 15px;
                }
              }

              .slick-prev:before {
                content: url("/sites/all/themes/mtb360/images/partnerleft.png");
              }

              .slick-next:before {
                content: url("/sites/all/themes/mtb360/images/partnerright.png");
              }
            }
          }
          .pane-our-clients-say-panel {
            margin-bottom: 85px;
            background-color: $mobilegrey;

            .maxWidthContent {
              position: relative;
              //background-color: $kaki;
              .col-xs-12 {

                .pane-title {
                  display: none;
                }

                .row:last-child {
                  width: 70%;
                  float: right;

                  .bgWhite {
                    background-color: $mobilegrey;
                    color: white;
                    text-align: left;

                    .pane-content {
                      position: relative;
                      color: white;

                      p {
                        font-size: 20px;
                        color: white;

                        em {
                          font-style: normal;
                          font-size: 20px;

                          &:before {
                            content: url("/sites/all/themes/mtb360/images/quote_white.png");
                            position: absolute;
                            left: -60px;
                            top: 0;
                          }

                          &:after {
                            content: url("/sites/all/themes/mtb360/images/quote_end_white.png");
                            position: absolute;
                            right: 0;
                            //bottom: 0;
                          }
                        }

                        strong {
                          font-style: italic;
                          color: white;
                          font-size: 14px;
                        }
                      }

                      p:last-child {
                        margin-top: 20px;

                        strong, em {
                          border-top: 1px solid white;
                          padding-top: 10px;
                          margin-top: 10px;
                        }

                        em {
                          font-style: italic;
                        }
                      }

                    }
                  }
                }

                .row:first-child {
                  width: 30%;
                  position: absolute;
                  bottom: -85px;
                  margin-bottom: 0;

                  .col-xs-12 {
                    background-color: transparent;
                  }
                }
              }
            }
          }
          .pane-node-field-for-content {
            .maxWidthContent {
              max-width: 1200px;
              margin-left: auto;
              margin-right: auto;
              margin-top: 50px;

              .row.spacing {
                width: 80%;
                margin-left: auto !important;
                margin-right: auto !important;

                .col-xs-12 {
                  width: 28%;
                  float: left;

                  .block1 {
                    padding-left: 0;
                    padding-right: 0;

                    img {
                      width: 100%;
                    }
                  }

                  .miniblock h2 {
                    color: $homepageblacktext;
                    font-size: 18px;
                  }
                }

                .col-xs-12:first-child {
                  margin-right: 8%;
                }

                .col-xs-12:last-child {
                  margin-left: 8%;
                }
              }
            }
          }
          .pane-node-field-action-link {
            text-align: center;
            margin-top: 50px;

            .field-name-field-action-link {
              padding-bottom: 20px;
              margin-bottom: 20px;
            }
          }
          .pane-bean-your-talent-in-3-step-default {

            border-top: 50px solid $kaki;


          }
          .pane-discover-your-talent {
            .bgDiv1 {
              background-color: white;

              .btn.btnPerso {
                background-color: $complementary !important;
                font-size: 16px !important;
                width: 280px;
                height: 50px;
                margin-top: 30px;
                margin-bottom: 30px;
              }
            }
          }
        }
        @media #{$large} {
          .pane-node-field-visual-content {
            background: white url("/sites/all/themes/zen_farmap/images/banner.PNG") no-repeat;
            background-size: cover;
            height: auto;

            .homePage {
              .text-center {
                text-align: center;
              }
              .col-md-4 {
                width: 1200px;
                margin-left: auto;
                margin-right: auto;
                float: none;
                padding-right: 0;
                padding-left: 0;

                .block0 {
                  h1 {
                    color: $homepageblacktext;
                    padding-top: 50px;
                    padding-bottom: 50px;
                    margin-top: 0;
                    margin-bottom: 0;
                  }

                  p {
                    background-color: transparent;
                    font-size: 36px;
                    line-height: 1;
                  }

                  .btn.btnPerso {
                    background-color: $complementary !important;
                    font-size: 16px !important;
                    width: 280px;
                    height: 50px;
                    margin-top: 50px;
                    margin-bottom: 50px;
                  }
                }
              }
            }

            .homePage .headerHomeHeight {
              height: 100%;
              margin: 0;
              padding: 0;
            }
          }
          .pane-node-field-talent-content {
            .maxWidthContent {
              max-width: 1200px;
              margin-left: auto;
              margin-right: auto;
            }
            .homePageColor1 {
              .text-center {
                text-align: center;
                h2 {

                  color: $highlight;
                  margin-top: 30px;
                  margin-bottom: 30px;
                }
                .content {
                  color: $highlight;
                  margin-bottom: 50px;
                }
              }
            }
          }
          .pane-views-partnershow-block {
            margin-left: 15px;
            margin-right: 15px;

            .view-partnershow {
              margin-bottom: 40px;

              #slick-views-partnershow-1-slider {
                width: 90%;
                margin-left: auto;
                margin-right: auto;

                .slick-slide {
                  margin-left: 15px;
                  margin-right: 15px;
                }
              }

              .slick-prev:before {
                content: url("/sites/all/themes/mtb360/images/partnerleft.png");
              }

              .slick-next:before {
                content: url("/sites/all/themes/mtb360/images/partnerright.png");
              }
            }
          }
          .pane-our-clients-say-panel {
            margin-bottom: 85px;
            background-color: $kaki;

            .maxWidthContent {
              position: relative;
              //background-color: $kaki;
              .col-xs-12 {
                //background-color: $kaki;
                .pane-title {
                  display: none;
                }

                .row:last-child {
                  width: 70%;
                  float: right;

                  .bgWhite {
                    background-color: $kaki;
                    color: white;
                    text-align: left;

                    .pane-content {
                      position: relative;
                      color: white;

                      p {
                        font-size: 20px;
                        color: white;

                        em {
                          font-style: normal;
                          font-size: 20px;

                          &:before {
                            content: url("/sites/all/themes/mtb360/images/quote_white.png");
                            position: absolute;
                            left: -60px;
                            top: 0;
                          }

                          &:after {
                            content: url("/sites/all/themes/mtb360/images/quote_end_white.png");
                            position: absolute;
                            right: 0;
                            //bottom: 0;
                          }
                        }

                        strong {
                          font-style: italic;
                          color: white;
                          font-size: 14px;
                        }
                      }

                      p:last-child {
                        margin-top: 20px;

                        strong, em {
                          border-top: 1px solid white;
                          padding-top: 10px;
                          margin-top: 10px;
                        }

                        em {
                          font-style: italic;
                        }
                      }

                    }
                  }
                }

                .row:first-child {
                  width: 30%;
                  position: absolute;
                  bottom: -85px;
                  margin-bottom: 0;

                  .col-xs-12 {
                    background-color: transparent;
                  }
                }
              }
            }
          }
          .pane-node-field-for-content {
            .maxWidthContent {
              max-width: 1200px;
              margin-left: auto;
              margin-right: auto;
              margin-top: 50px;


              .col-xs-12 {
                width: 28%;
                float: left;

                .block1 {
                  padding-left: 0;
                  padding-right: 0;

                  img {
                    width: 100%;
                  }
                }

                .miniblock h2 {
                  color: $homepageblacktext;
                  font-size: 18px;
                }
              }

              .col-xs-12:first-child {
                margin-right: 8%;
              }

              .col-xs-12:last-child {
                margin-left: 8%;
              }
            }
          }
          .pane-node-field-action-link {
            text-align: center;
            margin-top: 50px;

            .field-name-field-action-link {
              padding-bottom: 20px;
              margin-bottom: 20px;
            }

          }
          .pane-bean-your-talent-in-3-step-default {
            border-top: 100px solid $kaki;

          }
          .pane-discover-your-talent {
            .bgDiv1 {
              background-color: #7da75f;

              .btn.btnPerso {
                background-color: $complementary !important;
                font-size: 16px !important;
                width: 280px;
                height: 50px;
                margin-top: 30px;
                margin-bottom: 30px;
              }

              .row {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }


      .field-name-field-action-link , .field-name-field-translatable-action-link {
        width: 280px;
        margin-left: auto;
        margin-right: auto;
        @media #{$small} {
          width: 90%;
        }
        a {

          background-color: $complementary;
          font-size: 16px;
          width: 280px;
          height: 50px;
          margin-top: 30px;
          margin-bottom: 30px;
          //font-weight: 700 !important;
          font-weight: normal !important;
          padding: 1px 6px !important;
          text-align: center;
          //display: inline-block;
          display: flex;
          line-height: normal;
          //padding-top: 15px;
          color: buttontext;
          -webkit-appearance: button;
          cursor: pointer;
          text-transform: none;
          text-decoration: none;
          box-sizing: border-box;
          border-width: 2px;
          border-style: outset;
          border-color: buttonface;
          border-image: initial;
          box-shadow: 2px 2px buttonface;
          justify-content: center;
          align-items: center;
          @media #{$small} {
            width: 90%;
          }
        }
      }

      margin-bottom: 0;
    }

    nav .myContent {
      max-width: 100%;
    }

}