#foverlay {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 320px;
    background-color: #cccccc;
    filter:alpha(opacity=90);
    -moz-opacity:0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;
    z-index: 10000;
}