
//Website width
$website-max-width: 1200px !default;

//Media queries
$screen-xs: 480px !default;
$screen-tablet: 768px !default;
$small: "only screen and (max-width : 479px)";//Jusqu’à 479px : smartphone en portrait
$medium: "only screen and (min-width : 480px) and (max-width : 1023px)"; //De 480px à 1023px : smartphone en paysage, tablette en portrait et petite tablette en paysage
$desktop: "only screen and (min-width : 1024px) and (max-width : 1279px)"; //De 1024px à 1279px : tablette en paysage, écran d’ordinateur de taille petite et moyenne
$large: "only screen and (min-width : 1280px)";//1281px et au delà : grand écran d’ordinateur (21″ et + en plein écran )

