$darkpagetitle: #1e4e28;
$panelbackground: #f2f2f2;
$normaltext: #333333;
$boldtext: #666666;
$homepageblacktext: #363636;
$highlight: #d23f18;
$greenbutton: #83e2af;
$mobilegrey: #2f2f2f;
$kaki: #abcdef;
$complementary: #44c0b6;